<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kinder</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/bulma.min.css"> </head>
<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-italic"><strong>Kinder</strong></div> <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"> <a class="navbar-item">
        ホーム
      </a> <a class="navbar-item">
        使いかた
      </a>
        <div class="navbar-item has-dropdown is-hoverable"> <a class="navbar-link">
          その他
        </a>
          <div class="navbar-dropdown"> <a class="navbar-item">
            このサイトについて
          </a> <a class="navbar-item">
            連絡
          </a>
            <hr class="navbar-divider"> <a class="navbar-item">
            問題報告
          </a> </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons"> <a class="button is-primary">
            <strong>登録</strong>
          </a> <a class="button is-light">
            ログイン
          </a> </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="columns">
      <div class="column is-three-quarters">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>タイトル</th>
              <th>参加者</th>
              <th>参加登録</th>
            </tr>
          </thead>
          <tbody> {% for task in tasks %}
            <tr>
              <th>{{task.id}}</th>
              <td>{{task.title}}</td>
              <td>{{task.participants}}
              </td>
              <td>
                <form action="/game/{{task.id}}" class="inline" method="post"> <input type="hidden" name="_method" value="patch" /> <input type="text" class="input is-rounded is-small" name="participant" value="" placeholder="ニックネームを入力" />  </form>
              </td>
            </tr> {% endfor %} </tbody>
          </table>
      </div>
      <div class="column">
        <form action="/game" method="post">
          <div class="field has-addons">
            <div class="control"> <input type="text" class="input" placeholder="募集タイトル" name="title" id="title" value="" autofocus /> </div>
            <div class="control"> <input class="button is-primary" type="submit" value="募集"> </div>
          </div>
          <div> {% if msg %} <small class="field-{{msg.0}}-msg">
                {{msg.1}}
                </small> {% endif %} </div>
        </form>
      </div>
    </div>
  </div>

<footer class="footer mt-6">
  <div class="content has-text-centered">
    <p>
      &copy 2020 <strong>Kinder</strong> by Hatsuki Saito and Kazuki Kurota.
    </p>
  </div>
</footer>
</body>
</html>